*{
    margin: 0;
    box-sizing:border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
      min-height: 100vh;
      background-image: url(img/home_off.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      backdrop-filter: blur(5px);
      display: grid;
      place-items: center;
      }

      section {
        background-color: rgba(128, 128, 128, 0.9);
        border-radius: 30px;
        padding: 60px;
        text-align: center;
      }

      h1 {
        font-size: 50px;
        color: #424b54;
      }
      
      #resultado {
        font-size: 100px;
      }
      
      button {
        border: none;
        border-radius: 10px;
        padding: 5px;
        font-size: 15px;
        width: 90px;
        margin: 5px;
      }
   



      

